* {
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;

}

h1, .fun-zone {
    margin: 5px;
}

.body {
    display: flex;
    align-items: center;
    flex-direction:column;
    margin: auto;
    
    height: 500px;
    width: 500px;
    outline: 2px dashed grey;
}

.etch-a-sketch {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction:column;
}

.grid-row,
.grid-col {
    display:flex;
    flex: auto;
}

.grid-row {
    flex-direction: row;
}

.git-icon {
    height: 40px;
    width: auto;
    margin: 10px;
}