* {
    font-family: monospace;
    text-align: center;
    box-sizing: border-box;
}

.test-row {
    background: red;
}

.body {
    display: flex;
    align-items: center;
    flex-direction:column;
}

.etch-a-sketch {
    border-style: dashed;
    border-color: red;
    height: 960px;
    width: 960px;

    display: flex;
    flex-direction:column;
}

.grid-row,
.grid-col {
    display:flex;
    flex: auto;
}

.grid-row {
    flex-direction: row;
}

.grid-col {
    
}
